{% extends 'base.html' %}
{% block title %}Produck{% endblock title %}
{% block extrahead %}
{% include "alat/data_table.html" %}
{% endblock extrahead %}
{% load static %}
{% block content %}
<h2 class="text-xl font-bold text-gray-900 pt-1">Daftar Poducts</h2>
<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
<nav aria-label="Breadcrumb">
  <ol role="list" class="max-w-2xl mx-auto px-4 flex items-center space-x-2 sm:px-6 lg:max-w-7xl lg:px-8">
    <li>
      <div class="flex items-center">
        <a href="/" class="mr-2 text-sm font-medium text-gray-900"> Home </a>
        <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor"  aria-hidden="true" class="w-4 h-5 text-gray-300">
          <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
        </svg>
      </div>
    </li>
    <li class="text-xs">
      <a href="." aria-current="page" class="font-medium text-gray-500 hover:text-gray-600"> Daftar Anggota </a>
    </li>

  </ol>
</nav>
</div>
<div class="container mx-auto pt-4">
    <div class="flex flex-col">
        <div class="w-full">
            <div class="p-4 border-b border-gray-200 shadow">
                <div class="text-right space-x-2 justify-center ">
                    <a href="{% url 'add-anggota' %}" type="button" class="pt-2 p-6 py-6 px-6 ">
                        <button type="button" class="inline-block px-6 py-2.5 bg-blue-600 font-medium text-ms rounded shadow-md hover:bg-blue-700  active:bg-blue-700 ">Add</button></a>
                </div>

                <!-- <table> -->
                <table id="dataTable" class="p-4">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="p-8 text-xs text-gray-500">ID</th>
                            <th class="p-8 text-xs text-gray-500">Name</th>
                            <th class="p-8 text-xs text-gray-500">Email</th>
                            <th class="p-8 text-xs text-gray-500">NIM</th>
                            <th class="p-8 text-xs text-gray-500">Created_at</th>
                            <th class="p-8 text-xs text-gray-500">Pinjaman</th>
                            <th class="px-6 py-2 text-xs text-gray-500">Edit</th>
                            <th class="px-6 py-2 text-xs text-gray-500">Cetak</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        {% for data in data %}
                        <tr class="whitespace-nowrap">
                            <td class="px-6 py-4 text-sm text-center text-gray-500">
                                {{forloop.counter}}
                            </td>
                            <td class="px-6 py-4 text-center">
                                <div class="text-sm text-gray-900">
                                    {{data.nama}}
                                </div>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <div class="text-sm text-gray-500">{{data.email}}</div>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <div class="text-sm text-gray-500">{{data.nim}}</div>
                            </td>
                            <td class="px-6 py-4 text-sm text-center text-gray-500">
                                {{data.tanggal_registrasi|date:"d-m-Y"}}
                            </td>
                            <td class="px-6 py-4 text-center">
                                <a href="{% url 'daftar_pinjam' data.id%}" class="px-4 py-1 text-sm text-white bg-blue-400 rounded">List</a>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <a href="{% url 'e-anggota' data.id %}" class="px-4 py-1 text-sm text-white bg-blue-400 rounded">Edit</a>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <a href="#" class="px-4 py-1 text-sm text-white bg-blue-400 rounded">Cetak</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% block javascript %}
{% include "alat/data_table_js.html" %}
{% endblock javascript %}
