{% load static %}
<!DOCTYPE html>
<html class="h-full bg-gray-100">
	<head>
    <title>App|{% block title %}{% endblock%}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'css/dist/all.min.css' %}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
		<link rel="stylesheet" href="{% static 'css/dist/index.min.css' %}" />
		<script src="{% static 'js/index.min.js' %}"></script>
		{% block extrahead %} {% endblock %}
	</head>

	<body class="h-full">
		<div class="min-h-full">
			{% include 'header.html' %}
			{% block content %}{% endblock%}
		</div>
			{% block javascript %}
			{% endblock %}
	</body>
</html>
